@model VisitViewModel
@{
    ViewBag.Title = "vizitas";
    Layout = "_Layout";

    var viewTitle = ViewBag.IsAdmin ? "Paciento vizitas" : "Jūsų vizitas";
}

<div class="container">
    <div class="row">
        <div class="col-lg">

            <h1 class="mt-4">@viewTitle</h1>

            <p class="lead">
                <i class="fas fa-user"></i> Vizitas sukurtas: @Model.CreatedBy
            </p>

            <hr>

            <p>
                Vizito laikas: @Model.DateTime.ToString("f", System.Threading.Thread.CurrentThread.CurrentCulture)
            </p>
                
            <div>
                <p>Daktaras: @Model.Employee.Fullname</p>
            </div>
            
            @if (ViewBag.IsAdmin)
            {
                <div>
                    <p>Pacientas: @Model.Patient.Fullname</p>
                </div>
            }

           
            
            @if (!string.IsNullOrWhiteSpace(Model.Comment))
            {
                <hr>

                <div>
                    <p>Papildomos pastabos:</p>
                    <p>@Model.Comment</p>
                </div>
            }
        </div>

    </div>
</div>