@model AboutViewModel
@{
    ViewBag.Title = "apie mus";
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-6" style="margin:60px 0px 40px 0px;">Mūsų darbuotojų komanda</h1>
    </div>
    @foreach (var employee in Model.Employees)
    {
        <div class="card mb-3">
            <div class="row no-gutters">
                @if (employee.Image != null)
                {
                    <div class="col-auto">
                        <img src="@Url.Action("Render", "Image", new { id = employee.Image.Id })"
                             alt="@employee.Image.CreatedOn" width="200" height="200">
                    </div>
                }
                else
                {
                    <div class="col-auto">
                        <img src="//placehold.it/200" class="img-fluid" alt="">
                    </div>
                }

                <div class="col">
                    <div class="card-block px-2">
                        <h4 class="card-title">@employee.Name @employee.Surname</h4>
                        <p class="card-title">@employee.Email</p>
                        <p class="card-text">@Html.Raw(employee.Resume)</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>