@model EntityCreateViewModel<EmployeeEditViewModel>

@{
    ViewBag.Title = "regaduoti darbuotoją";
    Layout = "_AdminLayout";
}

<div class="container">
    <div style="margin:10px">
        <h1 class="mt-4">Redaguoti darbuotojo informaciją</h1>

        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            @{
                var user = await userManager.GetUserAsync(User);
                string editorName = $"{user.Name} {user.Surname}";
                if (Model.ActionType == ActionTypeEnum.Create)
                {
                    <input type="hidden" asp-for="EntityViewModel.CreatedBy" value="@editorName" />
                    <input type="hidden" asp-for="EntityViewModel.CreatedOn" value="@DateTime.UtcNow" />
                }
                else if (Model.ActionType == ActionTypeEnum.Edit)
                {
                    <input type="hidden" asp-for="EntityViewModel.CreatedOn" />
                    <input type="hidden" asp-for="EntityViewModel.CreatedBy" />
                    <input type="hidden" asp-for="EntityViewModel.UpdatedBy" value="@editorName" />
                    <input type="hidden" asp-for="EntityViewModel.UpdatedOn" value="@DateTime.UtcNow" />
                }
            }
            <input type="hidden" asp-for="EntityViewModel.Id" />
            <input type="hidden" asp-for="ActionType" />

            <div class="form-group top-margin">
                <div><span asp-validation-for="EntityViewModel.Resume" class="text-danger"></span></div>
                <label asp-for="EntityViewModel.Resume">Pavadinimas<span class="text-danger">*</span>:</label>
                <textarea asp-for="EntityViewModel.Resume" class="form-control"></textarea>
            </div>
            
            @if (Model.EntityViewModel.Image != null)
            {
                <div>
                    <p>Dabartinė nuotrauka</p>
                    <img src="@Url.Action("Render", "Image", new { id = @Model.EntityViewModel.Image.Id })" alt="@Model.EntityViewModel.Image.CreatedOn" class="img-fluid">
                </div>
            }


            <div class="form-group top-margin">
                <label>Įkelti naują nuotrauką:</label> 
                <br/>
                <input type="file" asp-for="EntityViewModel.File"/>
            </div>

            <div class="top-margin">
                <button type="submit" class="btn btn-success">Redaguoti</button>
            </div>
        </form>
    </div>
</div>


@section Head{
    <script src="https://cdn.tiny.cloud/1/ol12dz8pmm89a37ixbobmdt86ih6wrgzd4pqrjqzwil3ngd3/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
}
@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            toolbar_mode: 'floating',
        });
    </script>
}