@model IEnumerable<UserViewModel>
@{
    ViewBag.Title = "naudotojai";
    Layout = "_AdminLayout";
}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <div class="card mb-4 mt-5">
                <div class="card-header"><i class="fas fa-table mr-1"></i>Naudotojai</div>

                <div class="card-body">
                    <div class="input-group" style="justify-content: space-around">
                        <form method="get" asp-action="AdminList" style="display: flex">
                            <input type="search" class="form-control rounded" placeholder="Ieškoti pagal vardą" aria-label="paieška"
                                   aria-describedby="paieškos-pagal-vardą" name="name"/>

                            <input type="search" class="form-control rounded" placeholder="Ieškoti pagal el.paštą" aria-label="paieška"
                                   aria-describedby="paieškos-pagal-paštą" name="email"/>

                            <button class="btn btn-block">
                                <span class="input-group-text border-0" id="search-addon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                            <form method="get" asp-action="AdminList">
                                <button class="btn btn-block">
                                    <span class="input-group-text border-0" id="clear-addon">
                                        <i class="fas fa-ban"></i>
                                    </span>
                                </button>
                            </form>
                        </form>
                        
                        <a class="btn btn-outline-primary text-black-50" style="margin-left: 25px" asp-action="Create"> Kurti Naudotoją </a>
                    </div>
                    
                    <div class="table-responsive">
                        <table class="table" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Vardas</th>
                                    <th>El. paštas</th>
                                    <th>Rolės</th>
                                    <th>Sukurtas</th>
                                    <th>Keisti Roles</th>
                                    <th>Ištrinti</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Vardas</th>
                                    <th>El. paštas</th>
                                    <th>Rolės</th>
                                    <th>Sukurtas</th>
                                    <th>Keisti Roles</th>
                                    <th>Ištrinti</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var user in Model)
                                {
                                    <tr>
                                        <td>@user.Name @user.Surname</td>
                                        <td>@user.Email</td>
                                        <td>
                                            @foreach (var userRole in user.Roles)
                                            {
                                                <span>@userRole;</span>
                                            }
                                        </td>
                                        <td>@user.CreatedOn</td>
                                        <td>
                                            <a asp-action="EditRoles" asp-route-id="@user.Id">Keisti</a>
                                        </td>
                                        <td>
                                            <form method="post" asp-action="Delete" asp-route-id="@user.Id">
                                                <input type="submit" class="btn btn-outline-primary text-black-50"
                                                       value="Naikinti" />
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>