@model IEnumerable<UserViewModel>
@{
    ViewBag.Title = "naudotojai";
    Layout = "_AdminLayout";
}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <div class="card mb-4 mt-5">
                <div class="card-header"><i class="fas fa-table mr-1"></i>Naudotojai</div>

                <div class="card-body">
                    <a class="btn btn-outline-primary text-black-50" asp-action="Create"> Kurti Naudotoją </a>
                    <div class="table-responsive">
                        <table class="table" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Vardas</th>
                                    <th>El. paštas</th>
                                    <th>Rolės</th>
                                    <th>Sukurtas</th>
                                    <th>Keisti Roles</th>
                                    <th>Ištrinti</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Vardas</th>
                                    <th>El. paštas</th>
                                    <th>Rolės</th>
                                    <th>Sukurtas</th>
                                    <th>Keisti Roles</th>
                                    <th>Ištrinti</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var user in Model)
                                {
                                    <tr>
                                        <td>@user.Name @user.Surname</td>
                                        <td>@user.Email</td>
                                        <td>
                                            @foreach (var userRole in user.Roles)
                                            {
                                                <span>@userRole;</span>
                                            }
                                        </td>
                                        <td>@user.CreatedOn</td>
                                        <td>
                                            <a asp-action="EditRoles" asp-route-id="@user.Id">Keisti</a>
                                        </td>
                                        <td>
                                            <form method="post" asp-action="Delete" asp-route-id="@user.Id">
                                                <input type="submit" class="btn btn-outline-primary text-black-50"
                                                       value="Naikinti" />
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>