@model ArticleCreateViewModel
@{
    var createUpdateTitle = Model.ActionType == ActionTypeEnum.Create ? "parašyti Įrašą" : Model.ActionType == ActionTypeEnum.Edit ? "redaguoti Įrašą" : "";
    ViewBag.Title = createUpdateTitle;
    Layout = "_Layout";
}

<div class="container">
    <div style="margin:10px">
        <h1 class="mt-4">@createUpdateTitle</h1>

        <form asp-action="Create" method="post" enctype="multipart/form-data">
            @{
                var user = await userManager.GetUserAsync(User);
                string editorName = $"{user.Name} {user.Surname}";
                if (Model.ActionType == ActionTypeEnum.Create)
                {
                    <input type="hidden" asp-for="EntityViewModel.CreatedBy" value="@editorName" />
                    <input type="hidden" asp-for="EntityViewModel.CreatedOn" value="@DateTime.UtcNow" />
                }
                else if (Model.ActionType == ActionTypeEnum.Edit)
                {
                    <input type="hidden" asp-for="EntityViewModel.CreatedOn" />
                    <input type="hidden" asp-for="EntityViewModel.CreatedBy" />
                    <input type="hidden" asp-for="EntityViewModel.UpdatedBy" value="@editorName" />
                    <input type="hidden" asp-for="EntityViewModel.UpdatedOn" value="@DateTime.UtcNow" />
                }
            }
            <input type="hidden" asp-for="EntityViewModel.Id" />
            <input type="hidden" asp-for="ActionType" />

            <div class="form-group">
                <div><span asp-validation-for="EntityViewModel.Title" class="text-danger"></span></div>
                <label asp-for="EntityViewModel.Title">Pavadinimas<span class="text-danger">*</span>:</label>
                <input type="text" class="form-control" asp-for="EntityViewModel.Title" required />
            </div>

            <div class="form-group">
                <div><span asp-validation-for="EntityViewModel.Body" class="text-danger"></span></div>
                <label asp-for="EntityViewModel.Body">Turinys<span class="text-danger">*</span>:</label>
                <textarea asp-for="EntityViewModel.Body" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label>Nuotraukos:</label>
                <input type="file" asp-for="Files" multiple="multiple" />
            </div>

            <div>
                <button type="submit" class="btn btn-success">Sukurti</button>
            </div>
        </form>
    </div>
</div>