@model IEnumerable<Odontology.Business.DTO.VisitDto>
@{
    ViewBag.Title = "title";
    Layout = "_Layout";

    var localTime = DateTime.UtcNow.ToLocalTime();
    var todayDate = localTime.Date;

    var upcomingVisits = Model.Where(x => x.DateTime > localTime).OrderBy(x => x.DateTime).ToList();
    var todayVisits = upcomingVisits.Where(x => x.DateTime.Date == todayDate).ToList();

    var pastVisits = Model.Where(x => x.DateTime < localTime);
}

<div class="container top-margin">
    

    @if (upcomingVisits.Any())
    {
        <div class="row align-items-start ">
            @if (todayVisits.Any())
            {
                <div class="row">
                    <p class="text-center display-6 top-margin"> Šiandienos (@todayDate.ToString("dd/MM/yyyy")) pacientų vizitai</p>
                </div>
                <div class="table-responsive">
                    <table class="table" id="dataTable">
                        <thead>
                        <tr>
                            <th>Laikas</th>
                            <th>Pacientas</th>
                            <th>Sukurtas</th>
                            <th>Veiksmai</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var visit in todayVisits)
                        {
                            <tr>
                                <td>@visit.DateTime</td>
                                <td>@visit.Patient.Fullname</td>
                                <td>@visit.CreatedOn.ToLocalTime()</td>
                                <td>
                                    <div>
                                        <a class="btn list-button" asp-controller="Visit" asp-action="Details" asp-route-id="@visit.Id">
                                            <i class="fas fa-info-circle"></i>
                                        </a>
                                        <a class="btn list-button" asp-controller="Visit" asp-action="Edit" asp-route-id="@visit.Id">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <form method="post" asp-controller="Visit" asp-action="Delete" asp-route-id="@visit.Id" class="inline">
                                            <button type="submit" class="btn list-button">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            }

            @if (upcomingVisits != todayVisits)
            {
                <div class="row">
                    <p class="text-center display-6 top-margin"> Visi pacientų vizitai</p>
                </div>
                <div class="table-responsive">
                    <table class="table" id="dataTable">
                        <thead>
                        <tr>
                            <th>Laikas</th>
                            <th>Pacientas</th>
                            <th>Sukurtas</th>
                            <th>Veiksmai</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var visit in upcomingVisits)
                        {
                            <tr>
                                <td>@visit.DateTime</td>
                                <td>@visit.Patient.Fullname</td>
                                <td>@visit.CreatedOn.ToLocalTime()</td>
                                <td>
                                    <div>
                                        <a class="btn list-button" asp-controller="Visit" asp-action="Details" asp-route-id="@visit.Id">
                                            <i class="fas fa-info-circle"></i>
                                        </a>
                                        <a class="btn list-button" asp-controller="Visit" asp-action="Edit" asp-route-id="@visit.Id">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <form method="post" asp-controller="Visit" asp-action="Delete" asp-route-id="@visit.Id" class="inline">
                                            <button type="submit" class="btn list-button">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    }
    else
    {
        <div class="row">
            <p class="text-center display-6 top-margin"> Neturite jums užrašytų vizitų</p>
        </div>
    }
</div>